body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: cursive;
    background: url("https://plus.unsplash.com/premium_photo-1661311947753-065ef4af9087?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
    background-size: cover;
    color: #001C30;
}

form{
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0,0, .6);
    border-radius: 15px;
    opacity: .7;
}

input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    border: solid 4px;
    padding: 10px;
    font-weight: bold;
    color: #0C134F;
}

.input::placeholder{
    color: lightslategrey;
    font-family: cursive;
}

.btn{
    color: #ACBCFF;
    background-color: #0C134F;
    border: none;
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0,0, .4);
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
}
/* .resetbtn{
    color: #ACBCFF;
    background-color: #0C134F;
    border: none;
    display: block;
    width:25%;
    margin: 5px 0;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0,0, .4);
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
} */


button:hover{
    filter: brightness(.9);
}

.score{
    color:#0D1282;
    text-align: right;
}