<style>
  @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');
</style>
*{
    box-sizing: border-box;
}

body{
    font-family: 'Bona Nova', serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 300;
}

#wrapper{
    display: flex;
    flex-direction: row;
}
#logo{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 800;
    color: #fc9803;
}

#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#right{
    flex: 1;
}

#left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-bottom: 1rem;
}
#left form{
    width: 80%;
    padding-bottom: 3rem;
}
#left .logo{
    margin-bottom: 8vh;
}
#left label{
    font-size: 15px;
    line-height: 2rem;
    font-weight: 500;
}
#left .text-input{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid grey;
    color: lightgray;
    padding: 0.5rem 1rem;
    line-height: 1rem ;
}
.left #primary-btn{
    width: 100%;
}
.primary-btn {
    padding: 10px 20px;
    height: 50px;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 600;
    background: #fc9803;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;

}
.primary-btn:hover{
    background-color: #f0b967;

}
#left .secondary-btn,
.or,
.links{
    width: 60%;
}
.secondary-btn {
    padding: 10px 20px;
    height: 30px;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;

}
.secondary-btn:hover{
    border-color: #f0b967;
    color: #f0b967;
}
#left .links a{
    display:block;
    color:#fff;
    text-decoration: none;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
    cursor: pointer; 
    transition: all 0.5s;
}
#left a:hover{
    color: #f0b967;
}
#left .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}
#left .or .bar{
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}
#left .or span{
    padding: 0 5px;
}
#main-footer{
    color: #ccc;
    text-align: center;
    font-size: 15px;
    max-width: 80%;
    padding-top: 50px;
}
#main-footer a{
    color: #fc9803;
}
/*showcase*/
#showcase{
    display: flex;
    background: url('../images/img3.jpg') no-repeat center center /cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#showcase .showcase-text{
    font-size: 50px;
    color: #fff;
    width: 100%;
}

/*Media queries*/
@media(min-width:1200px){
    #left {
        flex: 4;
    }
    #right {
        flex: 6;
    }
}
@media(max-width:750px){
    body{
        overflow: auto;
    }
    #right{
        display: none;
    }
    #left{
        justify-content: start;
    }
}